ul {
    padding-left: 0;
    overflow: hidden;
}
ul li {
    float: left;
    list-style: none;
    width: 27px;
    height: 27px;
    background: url(../img/star.gif)
}
ul li a {
    display: block;
    width: 100%;
    padding-top: 27px;
    overflow: hidden;
}
ul li.light {
    background-position: 0 -29px;
}