* {
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
}
#nav-wrap {
    height: 30px;
    background: #e60ceb;
    font-family: 'Microsoft YaHei';
}
#nav-wrap #nav {
    height: 30px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
#nav-wrap #nav ul {
    list-style: none;
    position: absolute;
}
#nav-wrap #nav ul li.nav {
    position: relative;
    z-index: 999;
    float: left;
    margin-right: 30px;
    line-height: 30px;
    text-align: center;
    min-width: 48px;
    padding: 0 5px;
}
#nav-wrap #nav ul li.nav a img {
    padding-bottom: 5px;
    padding-left: 5px;
}
#nav-wrap #nav ul li.nav ul.list {
    display: none;
    background-color: #ff78f2;
}
#nav-wrap #nav ul li.nav ul.list li {
    border-top: 1px solid #fff;
    font-size: 14px;
}