* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background: #000;
}

.wrap {
    margin: 100px auto 0;
    width: 258px;
    height: 190px;
    padding: 10px 0 0 10px;
    background: #000;
    overflow: hidden;
    border: 1px solid #fff;
}

.wrap li {
    float: left;
    padding: 0 10px 10px 0;
}

.wrap img {
    display: block;
    border: 0;
}